:root {
  --size: 0px;
  --main: #f7f3f5;
  --text: #171d1c;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--main);
  color: var(--text);
  text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.nav-item {
  padding-left: 2vw;
  padding-right: 2vw;
}

html {
  scroll-behavior: smooth;
}

.nav-link {
  line-height: 50px;
  transition: 0.3s;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
}

#skills,
#contacts,
#lang,
#courses {
  width: 30%;
}

.section {
  width: 70%;
}

.dana {
  width: 100%;
  display: flex;
}

@media (max-width: 768px) {
  .section {
    width: 100% !important;
  }
}

.dana-img {
  height: 20vh;
  width: 20vh;
  border-radius: 50%;
}

#home-name {
  width: 60%;
}

#home-img {
  width: 35%;
}

.contact-list {
  list-style-type: none;
}

.courses-list {
  list-style-type: none;
}

.lang-list {
  list-style-type: none;
}

.flag-list {
  vertical-align: baseline;
}

.section-title {
  margin-top: 3vw;
  margin-bottom: 2hw;
}
